# https://github.com/benvallack/zmk-config-piano/blob/main/config/boards/shields/piano/Kconfig.defconfig
if SHIELD_TOTEM_DONGLE || SHIELD_TOTEM_NORM_LEFT

config ZMK_KEYBOARD_NAME
    default "SAS-TOT"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

config ZMK_SPLIT
    default y

endif


if SHIELD_TOTEM_DONGLE_LEFT || SHIELD_TOTEM_DONGLE_RIGHT || SHIELD_TOTEM_NORM_RIGHT

config ZMK_SPLIT
    default y

endif

if SHIELD_TOTEM_NORM_LEFT

config ZMK_SPLIT_BLE_CENTRAL_PERIPHERALS
    default 1

endif

if SHIELD_TOTEM_DONGLE

config ZMK_SPLIT_BLE_CENTRAL_PERIPHERALS
    default 2

endif
